In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#To convert the data into numerical data
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df_segment = pd.read_csv('Train.csv')
df_segment.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [8]:
#filling the NAN values with median as they've all been converted to numeric
df_segment.fillna(df_segment.median(), inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [10]:
df_segment = df_segment.astype(str)

In [11]:
df_segment.to_csv('encoder_train_csv', index = False)

In [20]:
X = df_segment.drop(['ID', 'Segmentation'], axis = 1)
Y = df_segment['Segmentation']

In [21]:
encoder = OrdinalEncoder()
encoder.fit(X)

OrdinalEncoder()

In [35]:
enco1 = encoder.transform(X)

In [36]:
#Coversion to numerical representations done
segmentation = pd.DataFrame(enco1, columns=X.columns)
segmentation.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,1.0,0.0,4.0,0.0,5.0,1.0,2.0,3.0,3.0
1,0.0,1.0,18.0,1.0,2.0,1.0,0.0,2.0,3.0
2,0.0,1.0,44.0,1.0,2.0,1.0,2.0,0.0,5.0
3,1.0,1.0,44.0,1.0,7.0,0.0,1.0,1.0,5.0
4,0.0,1.0,20.0,1.0,3.0,1.0,1.0,5.0,5.0

In [29]:
import joblib

In [30]:
joblib.dump(encoder, 'Encoded.pkl')

['Encoded.pkl']

In [31]:
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_test, y_train, y_test = train_test_split(segmentation, Y, test_size = 0.3, random_state = 42)

In [39]:
from lightgbm import LGBMClassifier
model1 = LGBMClassifier(random_state = 0, n_estimators = 80)

In [40]:
model1.fit(x_train, y_train)

LGBMClassifier(n_estimators=80, random_state=0)

In [41]:
ypred = model1.predict(x_test)
ypred

array(['D', 'A', 'D', ..., 'D', 'B', 'C'], dtype=object)

In [42]:
#To evaluate model accuracy
from sklearn.metrics import classification_report

In [43]:
print(classification_report(y_test, ypred))

              precision    recall  f1-score   support

           A       0.44      0.43      0.43       597
           B       0.43      0.35      0.39       552
           C       0.57      0.56      0.57       580
           D       0.63      0.75      0.68       692

    accuracy                           0.53      2421
   macro avg       0.52      0.52      0.52      2421
weighted avg       0.52      0.53      0.53      2421

In [44]:
model1.booster_.save_model('Model_LGBM.txt')